openapi: 3.2.0
info:
  title: Atscale API
  version: '2026-09-26'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-26: 28 operation(s) read from 34 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Atscale has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 5
    documentation: 23
    pages-with-code: 4
    pages-read: 34
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-26'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://documentation.atscale.com/container-api/Data%20Catalog%20API/request-reference
  - https://documentation.atscale.com/installer-api/Data%20Catalog%20API/request-reference
  - https://documentation.atscale.com/installer-api/list-webhooks
  - https://documentation.atscale.com/installer-api/create-new-webhook
  - https://documentation.atscale.com/installer-api/delete-specific-webhook
  - https://help.atscale.com/kb/how-to-create-edit-and-delete-a-user-with-the-api
  - https://documentation.atscale.com/installer-api/get-org-org-id-webhooks-hook-id
  - https://documentation.atscale.com/container/managing-atscale/managing-aggregates/rebuilding-aggregates-using-the-rest-api
  - https://documentation.atscale.com/container-api/xmla
  - https://documentation.atscale.com/container-api/export
  - https://documentation.atscale.com/container-api/import
  - https://documentation.atscale.com/installer-api/get-org
  - https://documentation.atscale.com/installer-api/get-orgs
  - https://documentation.atscale.com/installer-api/post-org
  - https://documentation.atscale.com/container-api/aggregates
  - https://documentation.atscale.com/container-api/plan-query
  - https://documentation.atscale.com/container-api/get-catalogs
  - https://documentation.atscale.com/container-api/submit-query
  - https://documentation.atscale.com/container-api/exchange-token
  - https://documentation.atscale.com/container-api/get-query-data
  - https://documentation.atscale.com/container-api/aggregate-block
  - https://documentation.atscale.com/container-api/create-schedule
  - https://documentation.atscale.com/container-api/delete-schedule
  - https://documentation.atscale.com/container-api/deploy-from-git
  - https://documentation.atscale.com/container-api/trigger-new-job
  - https://documentation.atscale.com/installer-api/post-org-org-id
  - https://documentation.atscale.com/container-api/aggregate-delete
  - https://documentation.atscale.com/container-api/get-dw-snowflake
  - https://documentation.atscale.com/installer-api/get-sessiontoken
  - https://documentation.atscale.com/container-api/aggregate-unblock
  - https://documentation.atscale.com/container-api/get-catalog-repos
  - https://documentation.atscale.com/installer-api/delete-org-org-id
  - https://documentation.atscale.com/container-api/get-dw-data-bricks
  - https://documentation.atscale.com/container-api/aggregate-instances
servers:
- url: http://atscale-node-01.docker.infra.atscale.com:10500
security:
- bearer: []
tags:
- name: Atscale API
paths:
  /:
    get:
      operationId: get
      tags:
      - Atscale API
      summary: GET /
      x-source: https://documentation.atscale.com/container/managing-atscale/managing-aggregates/rebuilding-aggregates-using-the-rest-api
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -L 'https://<host>/v1/aggregates-batch/catalogs/<catalog_ID>/models/<model_ID>?isFullBuild=false' \\ : Change isFullBuild=false to isFullBuild=true to run a full build. \n -H 'Authorization: Bearer <TOKEN>' \\ : Replace <TOKEN> with your API token. This can be copied from the Account panel in Design Center. \n Run the command. \n Trigger an incremental aggregate build ​ \n You can also use the API "
  /v1/{v1id}:
    get:
      operationId: get_v1_v1id
      tags:
      - Atscale API
      summary: Obtain details about aggregate definitions
      x-source: https://documentation.atscale.com/container-api/aggregates
      parameters:
      - name: v1id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      - name: catalogId
        in: query
        required: false
        schema:
          type: string
      - name: catalog
        in: query
        required: false
        schema:
          type: string
      - name: modelId
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: 'Possible values: [ active , invalid , pending ]'
      - name: subtype
        in: query
        required: false
        schema:
          type: string
        description: 'Possible values: [ demand_defined , prediction_defined , manual , hinted ]'
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number to retrieve (1-based). Defaults to 1.
      - name: size
        in: query
        required: false
        schema:
          type: integer
        description: Maximum number of definitions to return per page. Defaults to 10.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '2000':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
        collapsed_from: 4 example path(s) differing only at v1Id
    post:
      operationId: post_v1_v1id
      tags:
      - Atscale API
      summary: Submit Query
      x-source: https://documentation.atscale.com/container-api/submit-query
      parameters:
      - name: v1id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostV1V1IdRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostV1V1IdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 3 example path(s) differing only at v1Id
components:
  schemas:
    PostV1V1IdResponse:
      type: object
      properties:
        query-id:
          type: string
          description: 'Possible values: non-empty'
        metadata:
          type: object
        metadata.succeeded:
          type: boolean
        metadata.wall-time:
          type: number
        metadata.error-message:
          type: string
        metadata.columns:
          type: array
        metadata.columns[].type:
          type: string
          description: 'Possible values: non-empty'
        metadata.columns[].name:
          type: string
          description: 'Possible values: non-empty'
        data:
          type: array
    PostV1V1IdRequest:
      type: object
      properties:
        language:
          type: string
          description: 'Possible values: [ SQL ]'
        query:
          type: string
          description: 'Possible values: non-empty'
        fakeResults:
          type: boolean
        dryRun:
          type: boolean
        useLocalCache:
          type: boolean
        useAggregateCache:
          type: boolean
        timeout:
          type: string
          description: 'Possible values: non-empty'
        context:
          type: object
        environment:
          type: object
        id:
          type: string
          description: 'Possible values: non-empty'
        project:
          type: object
        name:
          type: string
          description: 'Possible values: non-empty'
        aggregation:
          type: object
        useAggregates:
          type: boolean
        genAggregates:
          type: boolean
      required:
      - language
      - query
      - fakeResults
      - dryRun
      - useLocalCache
      - useAggregateCache
      - timeout
      - context
      - environment
      - id
      - project
      - name
      - aggregation
      - useAggregates
      - genAggregates
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
