openapi: 3.2.0
info:
  title: Atscale Aggregates API
  version: '2026-09-26'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-26: 28 operation(s) read from 34 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Atscale has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 5
    documentation: 23
    pages-with-code: 4
    pages-read: 34
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-26'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://documentation.atscale.com/container-api/Data%20Catalog%20API/request-reference
  - https://documentation.atscale.com/installer-api/Data%20Catalog%20API/request-reference
  - https://documentation.atscale.com/installer-api/list-webhooks
  - https://documentation.atscale.com/installer-api/create-new-webhook
  - https://documentation.atscale.com/installer-api/delete-specific-webhook
  - https://help.atscale.com/kb/how-to-create-edit-and-delete-a-user-with-the-api
  - https://documentation.atscale.com/installer-api/get-org-org-id-webhooks-hook-id
  - https://documentation.atscale.com/container/managing-atscale/managing-aggregates/rebuilding-aggregates-using-the-rest-api
  - https://documentation.atscale.com/container-api/xmla
  - https://documentation.atscale.com/container-api/export
  - https://documentation.atscale.com/container-api/import
  - https://documentation.atscale.com/installer-api/get-org
  - https://documentation.atscale.com/installer-api/get-orgs
  - https://documentation.atscale.com/installer-api/post-org
  - https://documentation.atscale.com/container-api/aggregates
  - https://documentation.atscale.com/container-api/plan-query
  - https://documentation.atscale.com/container-api/get-catalogs
  - https://documentation.atscale.com/container-api/submit-query
  - https://documentation.atscale.com/container-api/exchange-token
  - https://documentation.atscale.com/container-api/get-query-data
  - https://documentation.atscale.com/container-api/aggregate-block
  - https://documentation.atscale.com/container-api/create-schedule
  - https://documentation.atscale.com/container-api/delete-schedule
  - https://documentation.atscale.com/container-api/deploy-from-git
  - https://documentation.atscale.com/container-api/trigger-new-job
  - https://documentation.atscale.com/installer-api/post-org-org-id
  - https://documentation.atscale.com/container-api/aggregate-delete
  - https://documentation.atscale.com/container-api/get-dw-snowflake
  - https://documentation.atscale.com/installer-api/get-sessiontoken
  - https://documentation.atscale.com/container-api/aggregate-unblock
  - https://documentation.atscale.com/container-api/get-catalog-repos
  - https://documentation.atscale.com/installer-api/delete-org-org-id
  - https://documentation.atscale.com/container-api/get-dw-data-bricks
  - https://documentation.atscale.com/container-api/aggregate-instances
servers:
- url: http://atscale-node-01.docker.infra.atscale.com:10500
security:
- bearer: []
tags:
- name: Aggregates
paths:
  /v1/aggregates/definitions/{definitionid}:
    delete:
      operationId: delete_v1_aggregates_definitions_definitionid
      tags:
      - Aggregates
      summary: Delete aggregate definition
      x-source: https://documentation.atscale.com/container-api/aggregate-delete
      parameters:
      - name: definitionid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
        description: Authorization
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteV1AggregatesDefinitionsDefinitionidResponse'
      x-evidence:
        kind: documentation
  /v1/aggregates/definitions/{definitionid}/{definitionidid}:
    put:
      operationId: put_v1_aggregates_definitions_definitionid_definitionidid
      tags:
      - Aggregates
      summary: Block aggregate definition
      x-source: https://documentation.atscale.com/container-api/aggregate-block
      parameters:
      - name: definitionid
        in: path
        required: true
        schema:
          type: string
      - name: definitionidid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutV1AggregatesDefinitionsDefinitionidDefinitionididRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutV1AggregatesDefinitionsDefinitionidDefinitionididResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at definitionIdId
  /v1/aggregates/export/catalogs/{catalogid}/models/{modelid}:
    get:
      operationId: get_v1_aggregates_export_catalogs_catalogid_models_modelid
      tags:
      - Aggregates
      summary: Read a specific Aggregate
      x-source: https://documentation.atscale.com/container-api/export
      parameters:
      - name: catalogid
        in: path
        required: true
        schema:
          type: string
      - name: modelid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetV1AggregatesExportCatalogsCatalogidModelsModelidResponse'
      x-evidence:
        kind: documentation
  /v1/aggregates/import/catalogs/{catalogid}/models/{modelid}:
    post:
      operationId: post_v1_aggregates_import_catalogs_catalogid_models_modelid
      tags:
      - Aggregates
      summary: Uploads System-Defined Aggregate Definition
      x-source: https://documentation.atscale.com/container-api/import
      parameters:
      - name: catalogid
        in: path
        required: true
        schema:
          type: string
      - name: modelid
        in: path
        required: true
        schema:
          type: string
      - name: importDistributionKey
        in: query
        required: false
        schema:
          type: boolean
        description: Whether to import distribution hints in aggregate logical plans (defaults to true if unspecified).
      - name: importPartitionKeys
        in: query
        required: false
        schema:
          type: boolean
        description: Whether to import partition hints in aggregate logical plans (defaults to true if unspecified).
      - name: importReplication
        in: query
        required: false
        schema:
          type: boolean
        description: Whether to import replication hints in aggregate logical plans (defaults to true if unspecified).
      - name: connectionRemap
        in: query
        required: false
        schema:
          type: string
        description: originalConnId:newConnId (no remap if unspecified). Pass multiple connection Remap variables to perform multiple remap operations.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostV1AggregatesImportCatalogsCatalogidModelsModelidRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostV1AggregatesImportCatalogsCatalogidModelsModelidResponse'
      x-evidence:
        kind: documentation
  /v1/aggregates/instances:
    get:
      operationId: get_v1_aggregates_instances
      tags:
      - Aggregates
      summary: Obtain details about aggregate instances
      x-source: https://documentation.atscale.com/container-api/aggregate-instances
      parameters:
      - name: definitionId
        in: query
        required: false
        schema:
          type: string
      - name: catalogId
        in: query
        required: false
        schema:
          type: string
      - name: modelId
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: 'Possible values: [ active , invalid , pending , deleted ]'
      - name: batchId
        in: query
        required: false
        schema:
          type: string
      - name: tableName
        in: query
        required: false
        schema:
          type: string
      - name: startTime
        in: query
        required: false
        schema:
          type: string
      - name: endTime
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
        description: Page number to retrieve (1-based). Defaults to 1.
      - name: size
        in: query
        required: false
        schema:
          type: number
        description: Maximum number of instances to return per page. Defaults to 10.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetV1AggregatesInstancesResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    PostV1AggregatesImportCatalogsCatalogidModelsModelidResponse:
      type: object
      properties:
        atScaleExportVersion:
          type: string
          description: The AtScale system version from which the export originated.
        exportCatalogId:
          type: string
          description: Catalog ID
        importCatalogId:
          type: string
          description: ID of the Catalog to which the file was imported.
        modelId:
          type: string
          description: ID of the Model containing the aggregate definitions.
        numberOfDefinitionsImported:
          type: number
          description: Count of aggregate definitions that were imported.
        numberOfDefinitionsIgnored:
          type: number
          description: Count of aggregate definitions that were not imported.
        aggregates:
          type: object
          description: Contains count and values arrays.
    DeleteV1AggregatesDefinitionsDefinitionidResponse:
      type: object
      properties:
        deleted:
          type: boolean
          description: Indicates if the aggregate definition was deleted
    PutV1AggregatesDefinitionsDefinitionidDefinitionididResponse:
      type: object
      properties:
        blocked:
          type: boolean
          description: Indicates the aggregate definition is blocked.
    GetV1AggregatesExportCatalogsCatalogidModelsModelidResponse:
      type: object
      properties:
        atScaleExportVersion:
          type: string
          description: The AtScale system version from which the export originated.
        exportSummary:
          type: object
          description: Summarized information such as aggregate count, grouped by Connection ID.
        exportTimestamp:
          type: string
          description: Server-generated timestamp the export file was generated.
        exportCatalogId:
          type: string
          description: catalog ID
        exportModelId:
          type: string
          description: Model ID. Must exist on the target system.
        aggregates:
          type: object
          description: Aggregate Definitions. For internal use only.
    GetV1AggregatesInstancesResponse:
      type: object
      properties:
        data:
          type: array
          description: Array with aggregate instances
        total:
          type: number
        size:
          type: number
        page:
          type: number
        offset:
          type: number
    PutV1AggregatesDefinitionsDefinitionidDefinitionididRequest:
      type: object
      properties:
        blocked:
          type: boolean
          description: Blocks the specified aggregate definition.
      required:
      - blocked
    PostV1AggregatesImportCatalogsCatalogidModelsModelidRequest:
      type: object
      properties:
        aggregates:
          type: object
          description: Object matching the export schema.
      required:
      - aggregates
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
