openapi: 3.1.0
info:
  title: Atscale API
  version: '2026-09-26'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-26: 28 operation(s) read from 34 public documentation page(s) (each
    operation names its page in x-source). This is not the provider''s published contract; Atscale has published no machine-readable contract
    that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 5
    documentation: 23
    pages-with-code: 4
    pages-read: 34
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-26'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://documentation.atscale.com/container-api/Data%20Catalog%20API/request-reference
  - https://documentation.atscale.com/installer-api/Data%20Catalog%20API/request-reference
  - https://documentation.atscale.com/installer-api/list-webhooks
  - https://documentation.atscale.com/installer-api/create-new-webhook
  - https://documentation.atscale.com/installer-api/delete-specific-webhook
  - https://help.atscale.com/kb/how-to-create-edit-and-delete-a-user-with-the-api
  - https://documentation.atscale.com/installer-api/get-org-org-id-webhooks-hook-id
  - https://documentation.atscale.com/container/managing-atscale/managing-aggregates/rebuilding-aggregates-using-the-rest-api
  - https://documentation.atscale.com/container-api/xmla
  - https://documentation.atscale.com/container-api/export
  - https://documentation.atscale.com/container-api/import
  - https://documentation.atscale.com/installer-api/get-org
  - https://documentation.atscale.com/installer-api/get-orgs
  - https://documentation.atscale.com/installer-api/post-org
  - https://documentation.atscale.com/container-api/aggregates
  - https://documentation.atscale.com/container-api/plan-query
  - https://documentation.atscale.com/container-api/get-catalogs
  - https://documentation.atscale.com/container-api/submit-query
  - https://documentation.atscale.com/container-api/exchange-token
  - https://documentation.atscale.com/container-api/get-query-data
  - https://documentation.atscale.com/container-api/aggregate-block
  - https://documentation.atscale.com/container-api/create-schedule
  - https://documentation.atscale.com/container-api/delete-schedule
  - https://documentation.atscale.com/container-api/deploy-from-git
  - https://documentation.atscale.com/container-api/trigger-new-job
  - https://documentation.atscale.com/installer-api/post-org-org-id
  - https://documentation.atscale.com/container-api/aggregate-delete
  - https://documentation.atscale.com/container-api/get-dw-snowflake
  - https://documentation.atscale.com/installer-api/get-sessiontoken
  - https://documentation.atscale.com/container-api/aggregate-unblock
  - https://documentation.atscale.com/container-api/get-catalog-repos
  - https://documentation.atscale.com/installer-api/delete-org-org-id
  - https://documentation.atscale.com/container-api/get-dw-data-bricks
  - https://documentation.atscale.com/container-api/aggregate-instances
servers:
- url: http://atscale-node-01.docker.infra.atscale.com:10500
paths:
  /:
    get:
      operationId: get
      tags:
      - Api
      summary: GET /
      x-source: https://documentation.atscale.com/container/managing-atscale/managing-aggregates/rebuilding-aggregates-using-the-rest-api
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -L 'https://<host>/v1/aggregates-batch/catalogs/<catalog_ID>/models/<model_ID>?isFullBuild=false' \\ : Change isFullBuild=false\
          \ to isFullBuild=true to run a full build. \n -H 'Authorization: Bearer <TOKEN>' \\ : Replace <TOKEN> with your API token. This can\
          \ be copied from the Account panel in Design Center. \n Run the command. \n Trigger an incremental aggregate build ​ \n You can also\
          \ use the API "
  /api/1.0/org/:
    get:
      operationId: get_api_1_0_org
      tags:
      - Api
      summary: How to Create, Edit and Delete a User with the API
      x-source: https://help.atscale.com/kb/how-to-create-edit-and-delete-a-user-with-the-api
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /api/1.0/org/default/users:
    post:
      operationId: post_api_1_0_org_default_users
      tags:
      - Api
      summary: POST /api/1.0/org/default/users
      x-source: https://help.atscale.com/kb/how-to-create-edit-and-delete-a-user-with-the-api
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -X POST " http://atscale.example.com:10500/api/1.0/org/default/users" "  -H "authorization: Bearer ${BearerToken}"  -H
          "content-type: application/json"  -d ''{     "username" : "test-api-user",     "confirm_password" : "testpw",     "password" : "testpw",
              "email" : " test-api-user@atscale.com ",     "name" : "Test API User",     "roles": ["designcenter_user"] }'' {"status":{"i18n_message":"'
  /api/1.0/org/default/{defaultid}:
    get:
      operationId: get_api_1_0_org_default_defaultid
      tags:
      - Api
      summary: GET /api/1.0/org/default/roles
      x-source: https://help.atscale.com/kb/how-to-create-edit-and-delete-a-user-with-the-api
      parameters:
      - name: defaultid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApi10OrgDefaultDefaultidResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -X GET " http://atscale.example.com:10500/api/1.0/org/default/roles" "  -H "authorization: Bearer ${BearerToken}" {"status":{"i18n_message":"response.ok","message":"OK"},"response":{"roles":[{"id":"designcenter_user","title":"Design
          Center User","permissions": [{"id":"dc_user","name":"designcenter.user"}, {"id":"aggregates_view","name":"aggregates.view"}, {"id":"queries_view","name":"queries.'
        collapsed_from: 2 example path(s) differing only at defaultId
  /default/auth:
    get:
      operationId: get_default_auth
      tags:
      - Default
      summary: GET /default/auth
      x-source: https://documentation.atscale.com/container-api/Data%20Catalog%20API/request-reference
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -s -X GET -u USER:PWD \"http://atscale-node-01.docker.infra.atscale.com:10500/default/auth\" \n Optionally, you can also\
          \ provide the following header:\n Content-Type: application/xml \n Request content ​ \n The data you send in the POST request must be\
          \ the following SOAP\nmessage: \n <?xml version=\"1.0\"?> <Envelope xmlns=\"http://schemas.xmlsoap.org/soap/envelope/\"> <Body> <Execute\
          \ xmlns=\"urn:schemas-"
  /org:
    get:
      operationId: get_org
      tags:
      - Org
      summary: List all Organizations this user has access to.
      x-source: https://documentation.atscale.com/installer-api/get-org
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrgResponse'
      x-evidence:
        kind: documentation
    post:
      operationId: post_org
      tags:
      - Org
      summary: Create a new Organization
      x-source: https://documentation.atscale.com/installer-api/post-org
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
        description: Name for the new organization
      - name: port
        in: query
        required: true
        schema:
          type: integer
        description: Port for the new organization
      - name: currentOrgId
        in: query
        required: true
        schema:
          type: string
        description: Organization to which the user making the request belongs (for example, default)
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOrgResponse'
      x-evidence:
        kind: documentation
  /org/{orgid}:
    delete:
      operationId: delete_org_orgid
      tags:
      - Org
      summary: Delete Organization identified by orgID UUID.
      x-source: https://documentation.atscale.com/installer-api/delete-org-org-id
      parameters:
      - name: orgid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrgOrgidResponse'
      x-evidence:
        kind: documentation
    post:
      operationId: post_org_orgid
      tags:
      - Org
      summary: Update an existing Organization
      x-source: https://documentation.atscale.com/installer-api/post-org-org-id
      parameters:
      - name: orgid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOrgOrgidRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOrgOrgidResponse'
      x-evidence:
        kind: documentation
  /org/{orgid}/webhooks:
    get:
      operationId: get_org_orgid_webhooks
      tags:
      - Org
      summary: This API lists webhooks.
      x-source: https://documentation.atscale.com/installer-api/list-webhooks
      parameters:
      - name: orgid
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        required: false
        schema:
          type: string
        description: The Project Id to fetch webhooks for
      - name: notificationType
        in: query
        required: false
        schema:
          type: string
        description: The Notification Type
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrgOrgidWebhooksResponse'
      x-evidence:
        kind: documentation
    post:
      operationId: post_org_orgid_webhooks
      tags:
      - Org
      summary: Create New Webhook
      x-source: https://documentation.atscale.com/installer-api/create-new-webhook
      parameters:
      - name: orgid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOrgOrgidWebhooksRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOrgOrgidWebhooksResponse'
      x-evidence:
        kind: documentation
  /org/{orgid}/webhooks/{hookid}:
    delete:
      operationId: delete_org_orgid_webhooks_hookid
      tags:
      - Org
      summary: Deletes the webhook identified by hookId in org identified by orgId.
      x-source: https://documentation.atscale.com/installer-api/delete-specific-webhook
      parameters:
      - name: orgid
        in: path
        required: true
        schema:
          type: string
      - name: hookid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrgOrgidWebhooksHookidResponse'
      x-evidence:
        kind: documentation
    get:
      operationId: get_org_orgid_webhooks_hookid
      tags:
      - Org
      summary: Retrieve Specific Webhook
      x-source: https://documentation.atscale.com/installer-api/get-org-org-id-webhooks-hook-id
      parameters:
      - name: orgid
        in: path
        required: true
        schema:
          type: string
      - name: hookid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /orgs:
    get:
      operationId: get_orgs
      tags:
      - Orgs
      summary: List All Organizations
      x-source: https://documentation.atscale.com/installer-api/get-orgs
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrgsResponse'
      x-evidence:
        kind: documentation
  /sessiontoken:
    get:
      operationId: get_sessiontoken
      tags:
      - Sessiontoken
      summary: Lists the user that generated the API token, and the time when this token was generated
      x-source: https://documentation.atscale.com/installer-api/get-sessiontoken
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSessiontokenResponse'
      x-evidence:
        kind: documentation
  /soap/envelope:
    post:
      operationId: post_soap_envelope
      tags:
      - Soap
      summary: POST /soap/envelope
      x-source: https://documentation.atscale.com/container-api/Data%20Catalog%20API/request-reference
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -X POST \ -H "Authorization:Bearer $token" -H ''Content-Type: application/xml'' \ -d ''<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">\
          <Body>\ <Execute xmlns="urn:schemas-microsoft-com:xml-analysis">\ <Command>\ <Statement>SELECT CUBE_NAME, LAST_DATA_UPDATE FROM $system.MDSCHEMA_CUBES</Statement>\
          </Command>\ <Properties><PropertyList>\ <Catalog>Sales Insights</Catalog> </PropertyL'
  /v1/aggregates/definitions/{definitionid}:
    delete:
      operationId: delete_v1_aggregates_definitions_definitionid
      tags:
      - Aggregates
      summary: Delete aggregate definition
      x-source: https://documentation.atscale.com/container-api/aggregate-delete
      parameters:
      - name: definitionid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
        description: Authorization
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteV1AggregatesDefinitionsDefinitionidResponse'
      x-evidence:
        kind: documentation
  /v1/aggregates/definitions/{definitionid}/{definitionidid}:
    put:
      operationId: put_v1_aggregates_definitions_definitionid_definitionidid
      tags:
      - Aggregates
      summary: Block aggregate definition
      x-source: https://documentation.atscale.com/container-api/aggregate-block
      parameters:
      - name: definitionid
        in: path
        required: true
        schema:
          type: string
      - name: definitionidid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutV1AggregatesDefinitionsDefinitionidDefinitionididRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutV1AggregatesDefinitionsDefinitionidDefinitionididResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at definitionIdId
  /v1/aggregates/export/catalogs/{catalogid}/models/{modelid}:
    get:
      operationId: get_v1_aggregates_export_catalogs_catalogid_models_modelid
      tags:
      - Aggregates
      summary: Read a specific Aggregate.
      x-source: https://documentation.atscale.com/container-api/export
      parameters:
      - name: catalogid
        in: path
        required: true
        schema:
          type: string
      - name: modelid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetV1AggregatesExportCatalogsCatalogidModelsModelidResponse'
      x-evidence:
        kind: documentation
  /v1/aggregates/import/catalogs/{catalogid}/models/{modelid}:
    post:
      operationId: post_v1_aggregates_import_catalogs_catalogid_models_modelid
      tags:
      - Aggregates
      summary: Uploads System-Defined Aggregate Definition.
      x-source: https://documentation.atscale.com/container-api/import
      parameters:
      - name: catalogid
        in: path
        required: true
        schema:
          type: string
      - name: modelid
        in: path
        required: true
        schema:
          type: string
      - name: importDistributionKey
        in: query
        required: false
        schema:
          type: boolean
        description: Whether to import distribution hints in aggregate logical plans (defaults to true if unspecified).
      - name: importPartitionKeys
        in: query
        required: false
        schema:
          type: boolean
        description: Whether to import partition hints in aggregate logical plans (defaults to true if unspecified).
      - name: importReplication
        in: query
        required: false
        schema:
          type: boolean
        description: Whether to import replication hints in aggregate logical plans (defaults to true if unspecified).
      - name: connectionRemap
        in: query
        required: false
        schema:
          type: string
        description: originalConnId:newConnId (no remap if unspecified). Pass multiple connection Remap variables to perform multiple remap operations.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostV1AggregatesImportCatalogsCatalogidModelsModelidRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostV1AggregatesImportCatalogsCatalogidModelsModelidResponse'
      x-evidence:
        kind: documentation
  /v1/aggregates/instances:
    get:
      operationId: get_v1_aggregates_instances
      tags:
      - Aggregates
      summary: Obtain details about aggregate instances.
      x-source: https://documentation.atscale.com/container-api/aggregate-instances
      parameters:
      - name: definitionId
        in: query
        required: false
        schema:
          type: string
      - name: catalogId
        in: query
        required: false
        schema:
          type: string
      - name: modelId
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: 'Possible values: [ active , invalid , pending , deleted ]'
      - name: batchId
        in: query
        required: false
        schema:
          type: string
      - name: tableName
        in: query
        required: false
        schema:
          type: string
      - name: startTime
        in: query
        required: false
        schema:
          type: string
      - name: endTime
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
        description: Page number to retrieve (1-based). Defaults to 1.
      - name: size
        in: query
        required: false
        schema:
          type: number
        description: Maximum number of instances to return per page. Defaults to 10.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetV1AggregatesInstancesResponse'
      x-evidence:
        kind: documentation
  /v1/catalogs/{catalogid}/models/{modelid}/aggregates-creation/scheduler/jobs/{jobid}:
    delete:
      operationId: delete_v1_catalogs_catalogid_models_modelid_aggregates_creation_scheduler_jobs_j
      tags:
      - Catalogs
      summary: Delete the schedule with the specified ID.
      description: Delete the schedule with the specified ID.
      x-source: https://documentation.atscale.com/container-api/delete-schedule
      parameters:
      - name: catalogid
        in: path
        required: true
        schema:
          type: string
      - name: modelid
        in: path
        required: true
        schema:
          type: string
      - name: jobid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /v1/catalogs/{catalogid}/models/{modelid}/aggregates-creation/{aggregatescreationid}:
    post:
      operationId: post_v1_catalogs_catalogid_models_modelid_aggregates_creation_aggregatescreation
      tags:
      - Catalogs
      summary: Trigger a new aggregate creation job.
      x-source: https://documentation.atscale.com/container-api/trigger-new-job
      parameters:
      - name: catalogid
        in: path
        required: true
        schema:
          type: string
      - name: modelid
        in: path
        required: true
        schema:
          type: string
      - name: aggregatescreationid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
        description: Authorization header.
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostV1CatalogsCatalogidModelsModelidAggregatesCreationAggreg'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at aggregatescreationId
  /v1/catalogs/deploy:
    post:
      operationId: post_v1_catalogs_deploy
      tags:
      - Catalogs
      summary: Deploy SML from a git repository
      description: Deploy SML from a git repository
      x-source: https://documentation.atscale.com/container-api/deploy-from-git
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostV1CatalogsDeployRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostV1CatalogsDeployResponse'
      x-evidence:
        kind: documentation
  /v1/data-warehouses/{datawarehouseid}/{id}:
    get:
      operationId: get_v1_data_warehouses_datawarehouseid_id
      tags:
      - Data Warehouses
      summary: Get a Databricks data warehouse details by ID
      x-source: https://documentation.atscale.com/container-api/get-dw-data-bricks
      parameters:
      - name: datawarehouseid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetV1DataWarehousesDatawarehouseidIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at datawarehouseId
  /v1/query/plan:
    post:
      operationId: post_v1_query_plan
      tags:
      - Query
      summary: Translate AtScale inbound query to an outbound data warehouse query, without running the query.
      x-source: https://documentation.atscale.com/container-api/plan-query
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostV1QueryPlanRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostV1QueryPlanResponse'
      x-evidence:
        kind: documentation
  /v1/{v1id}:
    get:
      operationId: get_v1_v1id
      tags:
      - Api
      summary: Obtain details about aggregate definitions.
      x-source: https://documentation.atscale.com/container-api/aggregates
      parameters:
      - name: v1id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      - name: catalogId
        in: query
        required: false
        schema:
          type: string
      - name: catalog
        in: query
        required: false
        schema:
          type: string
      - name: modelId
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: 'Possible values: [ active , invalid , pending ]'
      - name: subtype
        in: query
        required: false
        schema:
          type: string
        description: 'Possible values: [ demand_defined , prediction_defined , manual , hinted ]'
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number to retrieve (1-based). Defaults to 1.
      - name: size
        in: query
        required: false
        schema:
          type: integer
        description: Maximum number of definitions to return per page. Defaults to 10.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '2000':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
        collapsed_from: 4 example path(s) differing only at v1Id
    post:
      operationId: post_v1_v1id
      tags:
      - Api
      summary: Submit Query
      x-source: https://documentation.atscale.com/container-api/submit-query
      parameters:
      - name: v1id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostV1V1IdRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostV1V1IdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 3 example path(s) differing only at v1Id
components:
  schemas:
    GetApi10OrgDefaultDefaultidResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    GetOrgResponse:
      type: object
      properties:
        status:
          type: object
          description: Contains i18n_message and message.
        response:
          type: array
          description: Array of organization objects.
    PostOrgResponse:
      type: object
      properties:
        status:
          type: object
          description: Status object containing i18n_message and message
        response:
          type: object
          description: Response object containing id and name of the created organization
    DeleteOrgOrgidResponse:
      type: object
      properties:
        status:
          type: object
          description: Status object containing i18n_message and message.
        response:
          type: object
          description: Response object containing id and name of the organization.
    PostOrgOrgidRequest:
      type: object
      properties:
        body:
          type: string
          description: application/json Body
      required:
      - body
    PostOrgOrgidResponse:
      type: object
      properties:
        '200':
          type: string
          description: Success.
        '401':
          type: string
          description: This error will occur if calling user does not have access right for the API.
        '404':
          type: string
          description: This error will occur if the org identified by orgId does not exist.
        '500':
          type: string
          description: A server error occurred. Check the logs for more details.
    GetOrgOrgidWebhooksResponse:
      type: object
      properties:
        status:
          type: object
          description: Response status object
        response:
          type: object
          description: Payload containing webhook data
    PostOrgOrgidWebhooksRequest:
      type: object
      properties:
        org_id:
          type: string
        notification_type:
          type: string
        url:
          type: string
        project_id:
          type: string
      required:
      - org_id
      - notification_type
      - url
      - project_id
    PostOrgOrgidWebhooksResponse:
      type: object
      properties:
        status:
          type: object
          description: Contains code, i18n_message, and message.
        response:
          type: object
          description: Contains the created webhook id.
        time_to_process:
          type: string
          description: Processing time.
    DeleteOrgOrgidWebhooksHookidResponse:
      type: object
      properties:
        status:
          type: object
          description: Status object containing code and messages.
        response:
          type: object
          description: Response payload, includes id of the webhook.
        time_to_process:
          type: string
          description: Processing time.
    GetOrgsResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        created:
          type: number
        updated:
          type: number
    GetSessiontokenResponse:
      type: object
      properties:
        status:
          type: object
        status.i18n_message:
          type: string
        status.message:
          type: string
        response:
          type: object
        response.user_id:
          type: string
        response.generated_at:
          type: string
    DeleteV1AggregatesDefinitionsDefinitionidResponse:
      type: object
      properties:
        deleted:
          type: boolean
          description: Indicates if the aggregate definition was deleted
    PutV1AggregatesDefinitionsDefinitionidDefinitionididRequest:
      type: object
      properties:
        blocked:
          type: boolean
          description: Blocks the specified aggregate definition.
      required:
      - blocked
    PutV1AggregatesDefinitionsDefinitionidDefinitionididResponse:
      type: object
      properties:
        blocked:
          type: boolean
          description: Indicates the aggregate definition is blocked.
    GetV1AggregatesExportCatalogsCatalogidModelsModelidResponse:
      type: object
      properties:
        atScaleExportVersion:
          type: string
          description: The AtScale system version from which the export originated.
        exportSummary:
          type: object
          description: Summarized information such as aggregate count, grouped by Connection ID.
        exportTimestamp:
          type: string
          description: Server-generated timestamp the export file was generated.
        exportCatalogId:
          type: string
          description: catalog ID
        exportModelId:
          type: string
          description: Model ID. Must exist on the target system.
        aggregates:
          type: object
          description: Aggregate Definitions. For internal use only.
    PostV1AggregatesImportCatalogsCatalogidModelsModelidRequest:
      type: object
      properties:
        aggregates:
          type: object
          description: Object matching the export schema.
      required:
      - aggregates
    PostV1AggregatesImportCatalogsCatalogidModelsModelidResponse:
      type: object
      properties:
        atScaleExportVersion:
          type: string
          description: The AtScale system version from which the export originated.
        exportCatalogId:
          type: string
          description: Catalog ID
        importCatalogId:
          type: string
          description: ID of the Catalog to which the file was imported.
        modelId:
          type: string
          description: ID of the Model containing the aggregate definitions.
        numberOfDefinitionsImported:
          type: number
          description: Count of aggregate definitions that were imported.
        numberOfDefinitionsIgnored:
          type: number
          description: Count of aggregate definitions that were not imported.
        aggregates:
          type: object
          description: Contains count and values arrays.
    GetV1AggregatesInstancesResponse:
      type: object
      properties:
        data:
          type: array
          description: Array with aggregate instances
        total:
          type: number
        size:
          type: number
        page:
          type: number
        offset:
          type: number
    PostV1CatalogsCatalogidModelsModelidAggregatesCreationAggreg:
      type: object
      properties:
        success:
          type: boolean
          description: Success indicator.
    PostV1CatalogsDeployRequest:
      type: object
      properties:
        repoUrl:
          type: string
        gitToken:
          type: string
        gitUsername:
          type: string
        branch:
          type: string
        catalogName:
          type: string
        catalogLabel:
          type: string
        tableauServers:
          type: object
          description: Array of tableau server objects
      required:
      - repoUrl
      - gitToken
    PostV1CatalogsDeployResponse:
      type: object
      properties:
        catalogId:
          type: string
          description: required
        tableau:
          type: object
          description: Array of tableau deployment results
        compilationWarnings:
          type: object
          description: Compilation warnings details
    GetV1DataWarehousesDatawarehouseidIdResponse:
      type: object
      properties:
        name:
          type: string
          description: required, non-empty and <= 128 characters
        connectionId:
          type: string
          description: required, non-empty and <= 128 characters
        isImpersonationEnabled:
          type: boolean
          description: required
        isCanaryAlwaysEnabled:
          type: boolean
          description: required
        isPartialAggHitEnabled:
          type: boolean
          description: required
        access:
          type: object
          description: required
        database:
          type: string
          description: required, non-empty
        aggregateSchema:
          type: string
          description: required, non-empty
        id:
          type: string
          description: required
        connections:
          type: array
          description: required
    PostV1QueryPlanRequest:
      type: object
      properties:
        language:
          type: string
          description: 'Possible values: non-empty'
        query:
          type: string
          description: 'Possible values: non-empty'
        catalogId:
          type: string
          description: 'Possible values: non-empty'
        timeout:
          type: string
          description: 'Possible values: non-empty'
      required:
      - language
      - query
      - catalogId
      - timeout
    PostV1QueryPlanResponse:
      type: object
      properties:
        queryId:
          type: string
          description: 'Possible values: non-empty'
        outboundQuery:
          type: string
          description: 'Possible values: non-empty'
    PostV1V1IdRequest:
      type: object
      properties:
        language:
          type: string
          description: 'Possible values: [ SQL ]'
        query:
          type: string
          description: 'Possible values: non-empty'
        fakeResults:
          type: boolean
        dryRun:
          type: boolean
        useLocalCache:
          type: boolean
        useAggregateCache:
          type: boolean
        timeout:
          type: string
          description: 'Possible values: non-empty'
        context:
          type: object
        environment:
          type: object
        id:
          type: string
          description: 'Possible values: non-empty'
        project:
          type: object
        name:
          type: string
          description: 'Possible values: non-empty'
        aggregation:
          type: object
        useAggregates:
          type: boolean
        genAggregates:
          type: boolean
      required:
      - language
      - query
      - fakeResults
      - dryRun
      - useLocalCache
      - useAggregateCache
      - timeout
      - context
      - environment
      - id
      - project
      - name
      - aggregation
      - useAggregates
      - genAggregates
    PostV1V1IdResponse:
      type: object
      properties:
        query-id:
          type: string
          description: 'Possible values: non-empty'
        metadata:
          type: object
        metadata.succeeded:
          type: boolean
        metadata.wall-time:
          type: number
        metadata.error-message:
          type: string
        metadata.columns:
          type: array
        metadata.columns[].type:
          type: string
          description: 'Possible values: non-empty'
        metadata.columns[].name:
          type: string
          description: 'Possible values: non-empty'
        data:
          type: array
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
security:
- bearer: []
tags:
- name: Aggregates
- name: Api
- name: Catalogs
- name: Data Warehouses
- name: Default
- name: Org
- name: Orgs
- name: Query
- name: Sessiontoken
- name: Soap
